<div id="drawer" class="modal fade modal-dialog-scrollable" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="offcanvas-title" id="offcanvasExampleLabel">Select your Modulations</h3>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div>        
        <div class="offcanvas-body">
          <mat-grid-list cols="2" rowHeight="4:1">
            <mat-grid-tile *ngFor="let mod of modulations; let i = index">
              <p style="text-align: left;">
                <mat-slide-toggle [(ngModel)]="mod.checked" type="checkbox" id="checkbox{{i}}"
                        name="{{mod.type}}" value="{{mod.type}}" color="primary">
                        {{mod.shortcut[0]}}<i class="{{mod.shortcut[1]}}"></i>
                </mat-slide-toggle>
              </p>
            </mat-grid-tile>
          </mat-grid-list>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="checkSelection()">Close and Save</button>
            <button type="button" class="btn btn-primary" (click)="onSubmitNewExercise()" data-bs-dismiss="modal">Save and new exercise</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid ms-3 me-3 mt-3">
<div class="container">
  <h2>Loewe – Modulationstraining</h2>
  <div class="mainContent">
    <div class="card-body" style="height: max-content;">
      <div class="svg" [innerHTML]="scores.svg"></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="actions">
    <!-- <h3>Actions:</h3>-->
      <div class="card-text">
        <div class="btn-group-vertical" style="width: 90%;">
          <button (click)="onSubmitNewExercise()" class="btn btn-primary">New exercise</button>
          <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#drawer">Select Modulations</button>
        </div>
        <br>
        <br>
        <div class="btn-group-vertical" role="group" style="width: 90%;">
          <button class="btn btn-warning" [disabled]="!scores.hint" (click)="openHint(scores.hint)">Show hint</button>
          <button class="btn btn-success" [disabled]="!scores.lsg" data-bs-toggle="modal" data-bs-target="#solution">Show sample solution</button>
        </div>
      </div>
  </div>
</div>
</div>

<div class="modal" tabindex="-1" id="solution">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Best practice solution</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="svg" [innerHTML]="scores.lsg"></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>