<h1 mat-dialog-title>Dialog with elements</h1>
<div mat-dialog-content>This dialog showcases the title, close, content and actions elements.</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Schließen</button>
</div>

<!--<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">Aufgabe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Musterlösung</a>
        </li>
      </ul>
    </div>
  <div class="card-body">
    <div class="container">
        <div class="row justify-content-md-left">
            <div class="col-md-auto">
              Hello
            </div>
            <div class="col-sm">
                
            </div>
        </div>
  </div>
</div>
-->